services:
  postgres:
    image: postgres
    container_name: postgres
    hostname: postgres
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - ln-payments-postgres:/var/lib/postgresql
      - ./utils/db/init:/docker-entrypoint-initdb.d
    restart: always

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - postgres

volumes:
  ln-payments-postgres:
